$titleBarHeight: 30px;
$titleBarWidth: $titleBarHeight;

.title-bar {
    position: relative;
    width: 100%;
    height: $titleBarHeight;
    -webkit-app-region: drag;
    z-index: 3000;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;

    background-size: $titleBarHeight $titleBarWidth;
    background-color: darken(theme-color('dark'), 7%);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0,0, 0.36) 100%), linear-gradient(45deg, rgba(255, 255, 255, .0175) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .0175) 50%, rgba(255, 255, 255, .0175) 75%, transparent 75%, transparent);
   
    & + .app-shell {
        margin-top: $titleBarHeight;
    }

    > .title {
        position: absolute;
        margin-top: 4px;
        width: 100%;
        height: ($titleBarHeight - 4px);
        font-size: 12px;
        text-align: center;
        color: fade-out(#fff, 0.45);
    }

    > .title-bar-button {
        position: relative;
        width: $titleBarWidth;
        height: $titleBarHeight;
        -webkit-app-region: no-drag;
        cursor: pointer;
        opacity: .5;
        pointer-events: auto;
        text-align: center;


        &:hover {
            opacity: 1;
        }

        > .icon {
            width: ($titleBarWidth / 2);
            height: ($titleBarHeight / 2);
            color: #fff;
            text-decoration: none;
            vertical-align: middle;
        }
    }
}