{
	"ecmaFeatures": {
		"modules": true,
		"arrowFunctions": true,
		"classes": true
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended"
	],
	"plugins": [
		"import"
	],
	"parserOptions": {
		"ecmaVersion": 7,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		},
		"sourceType": "module"
	},
	"rules": {
		"no-undef": 0,
		"no-unused-vars": 0,
		"no-console": 0
	}
}