@import 'vendor/bootstrap/bootstrap';
@import 'vendor/bootstrap-4-switches';
@import 'vendor/materialdesignicons/materialdesignicons';
@import 'vendor/lato/lato';

@import 'app/vars';
@import 'app/mixins';
@import 'app/animations';
@import 'app/scaffold';
@import 'app/winui';
@import 'app/dialog';
@import 'app/splashscreen';
@import 'app/panel';
@import 'app/sidebar';
@import 'app/helpers';